{{#each blogs as |blog| }}
<a href="/{{blog.id}}">
  <div class="row form-horizontal">
    <div class=" col card text-center">
      <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-text">Created on {{format_date blog.date_created}}</p>
      </div>
    </div>
  </div>
</a>
{{/each}}