<!-- Loop over each object in the projects array -->
  {{#each blogs as |blog| }}
<a href="/blogs/{{blog.id}}">
  <div class="row">
  <div class=" col card text-center">
    <div class="card-body">
      <h5 class="card-title">{{blog.title}}</h5>
      <p class="card-text">{{blog.body}}</p>
    </div>
    <div class="card-footer text-muted">
      Created on {{format_date blog.date_created}}
    </div>
  </div>
</div>
</a>
  {{/each}}