<form class="form-horizontal">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" />
    </div>
    <button type="button" id="login-button" class="btn btn-dark">Log In</button>
    <button type="button" id="signup-button" class="btn btn-light">Sign Up</button>
</form>