
<form class="form-horizontal">
    <div class="mb-3">
        <label for="blog-title" class="form-label">Title</label>
        <input type="text" class="form-control" id="blog-title" placeholder="title">
    </div>
    <div class="mb-3">
        <label for="blog-body" class="form-label">Body</label>
        <textarea class="form-control" id="blog-body" rows="3"></textarea>
    </div>    
    <button type="button" id="new-blog-button" class="btn btn-dark">Submit</button>
</form>